.header {
  background-color: #0082cd;
  color: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Ensure the wrapper also handles the stickiness in EDS context */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header-container {
  max-width: 1280px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo img {
  height: 40px;
}

.header-actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.header-nav {
  background-color: #0082cd;
  box-sizing: border-box;
  color: #fff;
  display: none;
  height: 100vh;
  left: 0;
  padding: 56px 1pc 1pc;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 10;
}

.header.menu-open .header-nav {
  display: block;
}

.header-nav a {
  text-decoration: none;
  color: inherit;
}

.header-nav > ul {
  list-style: none;
  padding: 0;
}

.header-nav > ul > li {
  border-bottom: 1px solid #fff;
  overflow: hidden;
  padding: 24px 0;
  position: relative;
}

.header-nav > ul > li > a {
  display: inline-block;
  width: calc(100% - 3pc);
}

.header-nav > ul > li > span {
  cursor: pointer;
  height: 24px;
  position: absolute;
  right: 0;
  top: 21px;
  width: 24px;
}

.header-nav > ul > li > span:after {
  background-image: url("https://qik.do/etc.clientlibs/qik/clientlibs/clientlib-site/resources/icons/chevron-right.svg");
  content: "";
  display: inline-block;
  height: 24px;
  transition: transform 0.4s ease-in-out;
  width: 24px;
}

.header-nav > ul > li.active {
  font-weight: 700;
}

.header-nav > ul > li.active > span {
  transform: rotate(90deg);
}

.header-nav > ul > li > ul {
  list-style: none;
  margin-top: 0;
  max-height: 0;
  transition: all 0.4s ease-in-out;
  padding: 0;
}

.header-nav > ul > li > ul > li {
  border: none;
  padding: 24px 0;
}

.header-nav > ul > li > ul.active {
  margin-top: 24px;
  max-height: 500px;
}

.header-nav > ul > li > ul.active > li {
  border-bottom: 1px solid #fff;
  padding: 24px 0;
}

.header-nav > ul > li > ul.active > li:first-child {
  border-top: 1px solid #fff;
}

.header-nav > ul > li > ul.active > li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}

/* Desktop Styles */
@media only screen and (min-width: 768px) {
  .header-nav {
    display: block;
    height: auto;
    margin: 0 2pc;
    padding: 0;
    position: static;
    width: auto;
  }

  .header-nav > ul {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 0;
  }

  .header-nav > ul > li {
    align-items: center;
    border: none;
    display: flex;
    gap: 9pt;
    overflow: visible;
    padding: 0;
    position: relative;
  }

  .header-nav > ul > li > a {
    width: auto;
  }


  .header-nav > ul > li > a > span:after {
    content: attr(label);
    display: block;
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .header-nav > ul > li > span {
    position: static;
    transform: rotate(90deg);
  }

  .header-nav > ul > li > span.hide-md {
    display: none;
  }

  .header-nav > ul > li > span.active {
    transform: none;
  }

  .header-nav > ul > li.active:after,
  .header-nav > ul > li:hover:after {
    background-color: #fff;
    bottom: -15px;
    content: "";
    height: 4px;
    position: absolute;
    width: 100%;
  }

  .header-nav > ul > li:hover {
    font-weight: 700;
  }

  .header-nav > ul > li > ul {
    background-color: #fff;
    border-radius: 1pc;
    box-shadow: 1px 1px 5px #aaa;
    color: #000;
    display: none;
    margin: 0;
    max-height: unset !important;
    padding: 24px 0;
    position: absolute;
    top: 40px;
    width: 225px;
    z-index: 10;
  }

  .header-nav > ul > li > ul > li {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    padding: 0 !important;
  }

  .header-nav > ul > li > ul > li:hover {
    background-color: #e3f6ff;
  }

  .header-nav > ul > li > ul > li a {
    display: block;
    padding: 1pc;
    width: 193px;
    color: #000;
  }

  .header-nav > ul > li > ul.active {
    display: block;
    margin-top: 4px;
  }

  .header-nav > ul > li > ul.active > li {
    border-bottom: none;
    padding: 9pt 72px 9pt 24px;
  }

  .header-nav > ul > li .js-close-menu {
    display: none;
    height: 0;
    width: 0;
  }

  .header-nav > ul > li .js-close-menu.active {
    display: block;
    height: calc(100vh - 6pc);
    left: 0;
    position: fixed;
    top: 6pc;
    width: 100vw;
  }
}

/* Button & Actions */
/* Official Qik Button Styles */
.header .button {
  font-family: DM Sans, sans-serif;
  font-size: 1pc;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 24px;
}

.header .button,
.header .qik-button {
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in;
  width: fit-content;
}

.header .button--negative {
  background-color: #fff;
  border-radius: 20px;
  color: #003c73;
  padding: 9pt 24px;
  min-width: 200px; /* Overriding 343px for header */
}

.header .button--negative:hover {
  background-color: #e2e2e2;
  color: #003c73;
}

.header .button a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
  width: 100%;
}

.header .button .cmp-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #545454;
  font-family: DM Sans, sans-serif;
  font-size: 1pc;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .2px;
  line-height: 24px;
}

.menu-toggle {
  display: none;
  font-size: 20px;
  background: none;
  border: none;
  color: #fff;
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }
}

@media (max-width: 768px) { .header-actions .button { display: none; } }
